<!-- Edit task modal -->
<div class="modal fade" id="ID-<%= review._id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Edit Review</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/reviews/update/<%= review._id %>/?_method=PUT" method="post">
        <div class="modal-body">
          <!-- Movie title input -->
          <div class="row">
            <div class="col-sm-9 form-floating d-flex mx-auto">
              <input class="form-control" type="text" id="edit_movieTitle" name="movieTitle" placeholder="Movie title" value="<%= review.movieTitle %>" autocomplete="off" required />
              <label class="ms-2" for="edit_movieTitle">Movie title</label>
            </div>
          </div>
          <!-- Review title input -->
          <div class="row mt-3">
            <div class="col-sm-9 form-floating d-flex mx-auto">
              <input class="form-control" type="text" id="edit_reviewTitle" name="reviewTitle" placeholder="Review title" value="<%= review.title %>" autocomplete="off" required />
              <label class="ms-2" for="edit_reviewTitle">Review title</label>
            </div>
          </div>
          <!-- Review body input -->
          <div class="row my-3">
            <div class="col-sm-9 form-floating d-flex mx-auto">
              <textarea class="form-control" style="height: 100px" type="text" id="edit_reviewContent" name="reviewContent" autocomplete="off" required><%= review.comment %></textarea>
              <label class="ms-2" for="edit_reviewContent">Your review</label>
            </div>
          </div>
          <!-- Review rating input -->
          <!-- <div class="row">
            <div class="col-sm-9 form-floating d-flex mx-auto">

            </div>
          </div> -->
          <div class="form-floating mx-3 mb-4 d-flex">
            <span class="align-self-center ms-3 pb-1 me-2">Star rating:</span>
            <div>
              <input type="radio" class="btn-check" name="reviewRating" id="edit-check-1" value="1" autocomplete="off">
              <label class="btn" for="check-1">
                <i class="far fa-star" id="edit_stars-1"></i>
              </label>
              <input type="radio" class="btn-check" name="reviewRating" id="edit-check-2" value="2" autocomplete="off">
              <label class="btn" for="check-2">
                <i class="far fa-star" id="edit_stars-2"></i>
              </label>
              <input type="radio" class="btn-check" name="reviewRating" id="edit-check-3" value="3" autocomplete="off">
              <label class="btn" for="check-3">
                <i class="far fa-star" id="edit_stars-3"></i>
              </label>
              <input type="radio" class="btn-check" name="reviewRating" id="edit-check-4" value="4" autocomplete="off">
              <label class="btn" for="check-4">
                <i class="far fa-star" id="edit_stars-4"></i>
              </label>
              <input type="radio" class="btn-check" name="reviewRating" id="edit-check-5" value="5" autocomplete="off">
              <label class="btn" for="check-5">
                <i class="far fa-star" id="edit_stars-5"></i>
              </label>
            </div>
          </div>

          <!-- Edit button -->
          <div class="pt-4 modal-footer d-flex justify-content-center">
            <button class="px-5 py-2 btn btn-outline-success shadow" type="submit">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
