<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head", {title: title}); %>
  </head>
  <body>
    <%- include("partials/navbar", {loggedIn: false}); %>
    <%- include("partials/messages"); %>
    
    <div class="container-sm mb-5 pt-5">
      <h1 class="display-4 text-center" style="margin-top: 100px;">Reset your password</h1>
      <form action="/reset-password" method="post" class="mx-auto my-5" style="max-width: 600px">
        
        <!-- Hidden email and token fields -->
        <input type="hidden" name="email" value="<%= email %>"/>
        <input type="hidden" name="token" value="<%= token %>"/>
        
        <!-- New password input -->
        <div class="form-floating mx-auto my-4">
          <input type="password" class="form-control" id="password" name="password" placeholder="Password" autocomplete="off" required/>
          <label for="password">Password</label>
          <small class="text-muted ms-1">Must be at least 6 characters.</small>
        </div>
        
        <!-- Confirm new password -->
        <div class="form-floating mx-auto mb-5">
          <input type="password" class="form-control" id="confirm_pw" name="confirm_pw" placeholder="Confirm password" autocomplete="off" required/>
          <label for="confirm_pw">Confirm password</label>
        </div>

        <!-- Reset password button -->
        <div class="d-grid col-6 mx-auto">
          <button class="btn btn-outline-success" type="submit">Update password</button>
        </div>
      </form>
    </div>
  </body>
</html>
